body > header {
    display: block;
    transform: translateY(0px);
    opacity: 1;
    height: 10vh;
    top: 0px;
    bottom: auto;
    z-index: 5;
    background-color: white;
}

body > header > * {
    position: absolute;
}

body > header > header {
    top: 2vh;
    left: 2vh;
    font-size: 4vh;
    line-height: 100%;
    height: 4vh;
    width: 30%;
}

body > header > header > a > span:first-child {
    color: #69F;
}

body > header > header > a > span:last-child {
    color: #F90;
}

body > header > footer {
    right: 2vh;
    top: 2vh;
    font-size: 2vh;
    line-height: 100%;
    color: #69F;
    width: 30%;
    text-align: right;
}

body > header > footer > a {
    padding-left: 3vh;
}

body > header > footer > a[href="#login"] {
    color: #F90;
    display: none;
}

body > header > footer > a[href="#login"].on {
    display: inline-block;
}

body > header > footer > a[href="#profile"] {
    display: none;
}

body > header > footer > a[href="#profile"].on {
    display: inline-block;
}