site-footer {
    background-color: #444;
    height: 45vh;
    z-index: 15;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
}

site-footer > div {
    width: 15vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

site-footer > div > header {
    color: var(--color-doctor);
    margin-top: 4vh;
    font-size: 150%;
    line-height: 100%;
    position: relative;
}

site-footer > div > header > input {
    border: none;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
    padding: 10px;
    font-size: 50%;
}

site-footer > div > a {
    font-size: 75%;
    color: white;
    line-height: 100%;
    margin-top: 1vh;
    justify-content: flex-start;
}

site-footer > div > div {
    background-color: white;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-right: 2px;
}

site-footer > div > div > svg {
    height: 60%;
    width: 60%;
}

site-footer > div > div.facebook {
    fill: #3b5998;
}

site-footer > div > div.twitter {
    fill: #55acee;
}

site-footer > div > div.youtube {
    fill: #cd201f;
}

site-footer > footer {
    position: absolute;
    bottom: 2vh;
    font-size: 75%;
    line-height: 100%;
    color: white;
    left: 0px;
    right: 0px;
    text-align: center;
}