<template>
    <header class="bui-row bui-container materialize-color-blue">
        <img src="/resources/portrait/5.jpg">
        <div class="bui-col">
            <header>Michael Deanna Liene</header>
            <aside>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <footer>275 reviews</footer>
            </aside>
            <div>Pediatrics</div>
            <nav>
                <div>
                    <i class="material-icons">phone</i>
                    <span>347-634-2082</span>
                </div>
                <div>
                    <i class="material-icons">email</i>
                    <span>testing@email.com</span>
                </div>
            </nav>
            <footer>
                <i class="material-icons">favorite</i>
                <span>收藏</span>
            </footer>
        </div>
    </header>
    <aside class="bui-row bui-container">
        <section class="bui-col">
            <header class="bui-breaker bui-row">
                <span>语言</span>
                <i class="material-icons">translate</i>
            </header>
            <div>English</div>
            <div>中文</div>
        </section>
        <section class="bui-col">
            <header class="bui-breaker bui-row">
                <span>科目</span>
                <i class="material-icons">local_hospital</i>
            </header>
            <div>呼吸内科</div>
            <div>脊椎科</div>
            <div>内科</div>
        </section>
        <section class="bui-col">
            <header class="bui-breaker bui-row">
                <span>服务</span>
                <i class="material-icons">child_friendly</i>
            </header>
            <div>手术</div>
            <div>脊椎按摩</div>
            <div>胃镜</div>
        </section>
        <section class="bui-col">
            <header class="bui-breaker bui-row">
                <span>保险</span>
                <i class="material-icons">loyalty</i>
            </header>
            <div>Anthem Luxury</div>
            <div>Anthem Golden</div>
            <div>Cigna Default Level 1</div>
            <div>Cigna Default Level 2</div>
            <div>Cigna Default Level 3</div>
        </section>
    </aside>
    <footer>
        <nav class="bui-row">
            <header class="bui-col bui-ng">周一</header>
            <header class="bui-col bui-ng">周二</header>
            <header class="bui-col bui-ng">周三</header>
            <header class="bui-col bui-ng on">周四</header>
            <header class="bui-col bui-ng">周五</header>
            <header class="bui-col bui-ng">周六</header>
            <header class="bui-col bui-ng materialize-color-red">周日</header>
            <span class="bui-col"></span>
            <footer class="bui-col bui-ng">上午</footer>
            <footer class="bui-col bui-ng">下午</footer>
        </nav>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6043.635581670576!2d-73.98745317494016!3d40.76603213532845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40b559d814a25aee!2sSaint+Luke&#39;s-Roosevelt+Hospital%3AHematology%2FOncology!5e0!3m2!1sen!2sus!4v1489111241766" allowfullscreen></iframe>
        <span class="bui-col">&nbsp;</span>
    </footer>
</template>
<script type="text/javascript" src="page-doctor.js"></script>
<link rel="stylesheet" type="text/css" href="page-doctor.css">
