page-doctor > header {
    background-color: var(--materialize-color-lighten-5);
}

page-doctor > header > img.bui-u {
    height: 30vh;
    width: 30vh;
    flex-grow: 0;
    object-fit: cover;
}

page-doctor > header > div.bui-u {
    justify-content: space-between;
    position: relative;
}

page-doctor > header > div > * {
    width: 100%;
}

page-doctor > header > div > header {
    font-size: 2rem;
}

page-doctor > header > div > header:before {
    content: "Dr. ";
    opacity: 0.5;
}

page-doctor > header > div > aside {
    color: #FC0;
    font-size: 1rem;
    margin-top: 5px;
}

page-doctor > header > div > aside > i.material-icons:first-child {
    margin: 0;
}

page-doctor > header > div > aside > footer {
    font-size: 0.8rem;
    color: var(--materialize-color-darken-3);
    margin-left: 15px;
}

page-doctor > header > div > div {
    font-size: 1.5rem;
    margin-top: 5px;
}

page-doctor > header > div > nav {
    margin-top: auto;
}

page-doctor > header > div > nav > div {
    margin-top: 5px;
}

page-doctor > header > div > footer {
    position: absolute;
    top: var(--bui-spacing);
    right: var(--bui-spacing);
    flex-grow: 0;
    width: auto;
    background-color: pink;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

page-doctor > header > div > footer > i.material-icons:first-child {
    margin-right: 5px;
}

page-doctor > aside > section.bui-col {
    width: 25%;
}

page-doctor > aside > section > header {
    font-size: 1.5rem;
}

page-doctor > aside > section > div {
    width: 100%;
    margin-bottom: 10px;
}

page-doctor > nav {
    background-color: var(--materialize-color);
}

page-doctor > nav > div > iframe {
    height: 40vh;
}

page-doctor > nav > div > nav {
    width: 100%;
    color: white;
    z-index: 1000;
}

page-doctor > nav > div > nav > header,
page-doctor > nav > div > nav > footer {
    width: 1%;
}

page-doctor > nav > div > nav > header {
    --bg-color: var(--materialize-color-darken-2);
    cursor: pointer;
    opacity: 0.25;
    transition: opacity 0.2s;
    background-color: var(--bg-color);
    position: relative;
}

page-doctor > nav > div > nav > header.on,
page-doctor > nav > div > nav > header:hover {
    opacity: 1;
    overflow: visible;
}

page-doctor > nav > div > nav > header.on:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-top: solid 10px var(--bg-color);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

page-doctor > nav > div > nav > header:nth-of-type(2n) {
    --bg-color: var(--materialize-color-darken-1);
}

page-doctor > nav > div > nav > header:nth-of-type(6) {
    --bg-color: #FC0;
}

page-doctor > nav > div > nav > footer {
    --bg-color: var(--materialize-color-darken-2);
    cursor: pointer;
    opacity: 0.25;
    transition: opacity 0.2s;
    background-color: var(--bg-color);
    position: relative;
}

page-doctor > nav > div > nav > footer.on,
page-doctor > nav > div > nav > footer:hover {
    opacity: 1;
    overflow: visible;
}

page-doctor > nav > div > nav > footer.on:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-top: solid 10px var(--bg-color);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

page-doctor > nav > div > a {
    background-color: white;
    width: 100%;
    transition: background-color 0.2s, color 0.2s;
    position: relative;
}

page-doctor > nav > div > a:hover {
    background-color: var(--materialize-color-darken-1);
    color: white;
}

page-doctor > nav > div > a > img.bui-u {
    height: 40vh;
    width: 50%;
    object-fit: cover;
    padding: 0;
}

page-doctor > nav > div > a > div {
    width: 50%;
}

page-doctor > nav > div > a > div > header {
    font-size: 2rem;
}

page-doctor > nav > div > a > div > main > span {
    margin-bottom: 5px;
}

page-doctor > nav > div > a > div > nav {
    margin-top: auto;
}

page-doctor > nav > div > a > div > nav > div {
    margin-top: 5px;
}

page-doctor > nav > div > a > i.material-icons {
    position: absolute;
    right: var(--bui-spacing);
    top: 50%;
    font-size: 50px;
    margin-top: -25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

page-doctor > footer {
    background: linear-gradient(to bottom, var(--materialize-color-lighten-5), transparent);
}

page-doctor > footer > div.bui-u {
    font-size: 1.25rem;
    justify-content: flex-start;
}

page-doctor > footer > div > main {
    width: 100%;
    color: var(--materialize-color-darken-4);
}

page-doctor > footer > div > main:before,
page-doctor > footer > div > main:after {
    content: "\"";
    font-size: 1.5rem;
}

page-doctor > footer > div > footer {
    font-size: 1rem;
    white-space: nowrap;
    margin-top: var(--bui-spacing);
}

page-doctor > footer > div > footer.bui-row-center i.material-icons {
    margin-left: 0;
    margin-right: 0;
}

page-doctor > footer > div > footer > header {
    color: #FC0;
}

page-doctor > footer > div > footer > footer {
    font-size: 0.8rem;
    margin-left: var(--bui-spacing);
    opacity: 0.5;
}

page-doctor > footer > nav {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

page-doctor > footer > nav:hover {
    background-color: var(--materialize-color);
    color: white;
}
