<template>
    <single-page-application-data data-neo>
        <horizontal-accordion>
            <main>
                <table data-neo-table>
                    <tbody>
                        <tr>
                            <td class="portrait">&nbsp;</td>
                            <td>Dr. Ben Carson</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </horizontal-accordion>
    </single-page-application-data>
</template>
<script type="text/javascript" src="page-doctor.js"></script>
<link rel="stylesheet" type="text/css" href="page-doctor.css">
