<template>
    <header class="bui-row bui-container">
        <img src="/resources/portrait/5.jpg">
        <div class="bui-col">
            <header>Michael Deanna Liene</header>
            <aside>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <footer>275 reviews</footer>
            </aside>
            <div>Pediatrics</div>
            <nav>
                <div>
                    <i class="material-icons">phone</i>
                    <span>347-634-2082</span>
                </div>
                <div>
                    <i class="material-icons">email</i>
                    <span>testing@email.com</span>
                </div>
            </nav>
            <footer>
                <i class="material-icons">favorite</i>
                <span>收藏</span>
            </footer>
        </div>
    </header>
    <aside class="bui-row bui-container">
    </aside>
</template>
<script type="text/javascript" src="page-doctor.js"></script>
<link rel="stylesheet" type="text/css" href="page-doctor.css">
