:root {
    --color-doctor: #69F;
    --color-hospital: #F66;
    --color-insurance: #F90;
    --color-item: #690;
    --color-user: #F69;
    --color-comment: #96C;
    --color-light: #EEE;
}


/* ============================================================================================================= */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Arial", "Microsoft Yahei";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #DDD;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-weight: 100;
}

a {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 999;
    color: inherit;
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    line-height: 100%;
    background-color: transparent;
    color: inherit;
    font-size: 2vh;
    cursor: pointer;
    z-index: 999;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

select > option {
    color: black;
}

textarea {
    height: 100%;
    resize: none;
    line-height: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

template {
    display: none !important;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

svg {
    position: relative;
}

svg > use {
    display: block;
    height: 100%;
    width: 100%;
}


/* ============================================================================================================= */

body > header {
    position: fixed;
    height: 8vh;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    color: white;
    background-color: white;
    font-size: 2vh;
    overflow: hidden;
}

body > header > header {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 25%;
    left: 0px;
}

body > header > header > a > nav {
    position: absolute;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: #69F;
    top: 1vh;
    left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header > header > a > nav > svg {
    height: 110%;
    width: 110%;
    fill: white;
}

body > header > header > a > header {
    left: 6vh;
    margin-left: 1.75vw;
    position: absolute;
    color: #69F;
    top: 1.5vh;
    line-height: 100%;
    font-size: 3vh;
}

body > header > header > a > footer {
    left: 6vh;
    margin-left: 1.75vw;
    position: absolute;
    color: #999;
    bottom: 1.5vh;
    font-size: 1.5vh;
    padding-left: 1px;
}

body > header > nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 6vh;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body > header > nav > a {
    margin-right: 1.5vw;
    color: #69F;
    font-size: 1.5vh;
}

body > header > footer {
    position: absolute;
    height: 6vh;
    width: 6vh;
    right: 1vw;
    top: 1vh;
    border-radius: 50%;
    background-color: #FC3;
    font-size: 1.5vh;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header > footer.on {
    background-color: var(--color-item);
}

body > header > footer > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

body > header > footer.on > div {
    opacity: 0;
}

body > header > footer > svg {
    height: 50%;
    width: 50%;
    fill: white;
    transition: opacity 0.5s;
    opacity: 0;
}

body > header > footer.on > svg {
    opacity: 1;
}


/* ============================================================================================================= */

body > main {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: scroll;
}

body > main.on {
    opacity: 1;
    z-index: 1000;
}


/* ========================================================================================= */

body > main > header,
body > main > main,
body > main > footer,
body > main > nav,
body > main > aside {
    position: absolute;
    top: 8vh;
    margin-top: 1vw;
    width: 32vw;
    margin-bottom: 1vw;
}

body > main > header > *,
body > main > main > *,
body > main > footer > *,
body > main > nav > *,
body > main > aside > * {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}

body > main > header {
    left: 1vw;
}

body > main > main {
    left: 34vw;
}

body > main > footer {
    right: 1vw;
}

body > main > nav {
    left: 1vw;
}

body > main > aside {
    width: auto;
    left: 34vw;
    right: 1vw;
}

body > main > article {
    position: relative;
}


/* ========================================================================================= */

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.shadow:active {
    box-shadow: none;
    transform: translateY(1px);
}

.shadow.solid {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transform: translateY(0px);
}


/* ========================================================================================= */

.shadowup {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
}

.shadowboth {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 -2px 4px rgba(0, 0, 0, 0.15);
}


/* ========================================================================================= */

.list > section {
    display: block;
    line-height: 100%;
    font-size: 2vh;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: black;
    background-color: white;
    position: relative;
}

.list > section:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.9);
}

.list > section:before {
    content: attr(data-title);
    font-size: 1.4vh;
    line-height: 100%;
    position: absolute;
    left: 2vh;
    top: 2vh;
}