:root {
    --color-doctor: #69F;
    --color-hospital: #F88;
    --color-insurance: #F90;
    --color-item: #690;
    --color-user: #F69;
    --color-comment: #999;
}


/* ============================================================================================================= */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Arial", "Microsoft Yahei";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #CCC;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-weight: 100;
}

a {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 999;
    color: inherit;
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

input,
select,
textarea {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    right: 0px;
    line-height: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: transparent;
    color: inherit;
    font-size: 2vh;
    cursor: pointer;
    z-index: 999;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

select > option {
    color: black;
}

textarea {
    height: auto;
    resize: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

template {
    display: none !important;
}


/* ============================================================================================================= */

body > header {
    position: fixed;
    height: 5vh;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    color: #69F;
    font-size: 2vh;
    background: linear-gradient(to right, #69F, white 30%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body > header > * {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

body > header > header {
    color: white;
    left: 0px;
    justify-content: flex-start;
    padding-left: 6vh;
    background-repeat: no-repeat;
    background-size: 4vh 4vh;
    background-position: 1vh center;
    background-image: url("../img/icon/white/state.png");
}

body > header > footer {
    justify-content: flex-end;
    right: 0px;
}

body > header > footer > a {
    padding-right: 2vh;
}

body > header > footer > a[href="#l=login"] {
    color: #F90;
    display: none;
}

body > header > footer > a[href="#l=login"].on {
    display: flex;
}

body > header > footer > a[href="#l=profile"] {
    display: none;
}

body > header > footer > a[href="#l=profile"].on {
    display: flex;
}


/* ============================================================================================================= */

body > main {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: scroll;
}

body > main.on {
    opacity: 1;
    z-index: 1000;
}


/* ========================================================================================= */

body > main > * {
    position: absolute;
    top: 5vh;
    margin-top: 2.5vw;
    width: 30vw;
    margin-bottom: 2.5vw;
}

body > main > * > main {
    width: 100%;
    display: block;
    margin-bottom: 1vw;
}

body > main > header {
    left: 2.5vw;
}

body > main > main {
    left: 50%;
    margin-left: -15vw;
}

body > main > footer {
    right: 2.5vw;
}

body > main > nav {
    left: 2.5vw;
}

body > main > aside {
    width: 60vw;
    right: 2.5vw;
}

body > main > article {
    position: relative;
    margin: 0px;
    top: auto;
}


/* ========================================================================================= */

.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.shadow:active {
    box-shadow: none;
    transform: translateY(1px);
}


/* ========================================================================================= */

.list > * {
    display: block;
    line-height: 100%;
    font-size: 2vh;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    position: relative;
    color: black;
    background-color: white;
    min-height: 8vh;
}

.list > *:nth-of-type(2n) {
    background-color: rgba(255, 255, 255, 0.9);
}

.list > *:before {
    content: attr(data-title);
    font-size: 1.4vh;
    line-height: 100%;
    position: absolute;
    left: 2vh;
    top: 2vh;
}