site-header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 8vh;
    z-index: 5;
}

site-header > a {
    width: 20%;
    flex-grow: 1;
    color: white;
    background-color: #9CF;
}

site-header > a.on {
    background-color: #36C;
}

site-header > a:hover {
    background-color: #36C;
}