page-doctor > * {
    position: absolute;
}

page-doctor > main.portrait {
    top: 0px;
    left: 0px;
    height: 50vh;
    width: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("portrait/portrait.jpg");
    z-index: 5;
}

page-doctor > main.name {
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 30vw;
    color: #333;
    font-size: 4vh;
    line-height: 10vh;
    padding-right: 3vh;
    text-align: right;
    background-image: url("icon/black/name.png");
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 6;
}

page-doctor > main.star {
    top: 40vh;
    left: 0px;
    height: 10vh;
    width: 30vw;
    padding-left: 3vh;
}

page-doctor > main.star > span {
    display: inline-block;
    height: 100%;
    width: 4vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-image: url("icon/orange/star.png");
}

page-doctor > main.star > span.empty {
    background-image: url("icon/orange/star.empty.png");
}

page-doctor > main.star:after {
    content: attr(data-star);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    line-height: 10vh;
    color: #F90;
    font-size: 4vh;
    padding-right: 3vh;
}

page-doctor > main.items {
    top: 50vh;
    bottom: 0px;
    left: 0px;
    width: 15vw;
    background-color: #69F;
}

page-doctor > main.items > header {
    padding-right: 2vh;
    font-size: 3vh;
    color: white;
    line-height: 10vh;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("icon/white/stethoscope.png");
}

page-doctor > main.items > div {
    text-align: right;
    color: white;
    padding-right: 2vh;
    line-height: 100%;
    font-size: 2vh;
    margin-top: 1.5vh;
}

page-doctor > main.insurances {
    top: 50vh;
    bottom: 0px;
    left: 15vw;
    width: 15vw;
    background-color: #9C0;
}

page-doctor > main.insurances > header {
    padding-left: 2vh;
    font-size: 3vh;
    color: white;
    line-height: 10vh;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("icon/white/insurance.png");
}

page-doctor > main.insurances > header:before {
    left: auto;
    right: 0px;
}

page-doctor > main.insurances > div {
    color: white;
    padding-left: 2vh;
    line-height: 100%;
    font-size: 2vh;
    margin-top: 1.5vh;
}

page-doctor > main.schedule {
    position: absolute;
    top: 0px;
    left: 30vw;
    bottom: 0px;
    width: 30vw;
    z-index: 1;
}

page-doctor > main.schedule > header {
    text-align: center;
    font-size: 3vh;
    line-height: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10vh;
    z-index: 5;
    background-color: #FFF;
    color: #333;
}

page-doctor > main.schedule > header > span {
    margin-left: 5px;
    margin-right: 5px;
}

page-doctor > main.schedule > main {
    position: absolute;
    top: 10vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index: 3;
}


/* Schedule & Address */

page-doctor > main.schedule > main > section {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 30vw;
    left: 100%;
    transition: left 0.5s;
}

page-doctor > main.schedule > main > section.on {
    left: 0px;
}


/* Schedule */

page-doctor > main.schedule > main > section > header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

page-doctor > main.schedule > main > section > header > table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

page-doctor > main.schedule > main > section > header > table > thead > tr > td {
    height: 3.75vw;
    background-color: #666;
    color: white;
    text-align: center;
}

page-doctor > main.schedule > main > section > header > table > thead > tr > td:nth-child(2n) {
    background-color: #555;
}

page-doctor > main.schedule > main > section > header > table > thead > tr > td:nth-child(6) {
    background-color: #FC3;
}

page-doctor > main.schedule > main > section > header > table > thead > tr > td:nth-child(7) {
    background-color: #F66;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr > td {
    color: white;
    text-align: center;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(1) > td {
    height: 3.75vw;
    background-color: #555;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(1) > td:nth-child(2n) {
    background-color: #666;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(2) > td {
    height: 3.75vw;
    background-color: #666;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(2) > td:nth-child(2n) {
    background-color: #555;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(1) > td.on {
    background-color: #6C0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-image: url("icon/white/tick.png");
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(1) > td:nth-child(2n).on {
    background-color: #5B0;
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(2) > td.on {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #5B0;
    background-image: url("icon/white/tick.png");
}

page-doctor > main.schedule > main > section > header > table > tbody > tr:nth-child(2) > td:nth-child(2n).on {
    background-color: #6C0;
}

page-doctor > main.schedule > main > section > main {
    position: absolute;
    background-color: #444;
    top: 11.25vw;
    left: 0px;
    right: 0px;
    bottom: 35vh;
    overflow: visible;
    z-index: 10;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

page-doctor > main.schedule > main > section > main:before {
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0px;
    right: 15.5%;
    border-top: solid 1vw #666;
    border-left: solid 1vw transparent;
    border-right: solid 1vw transparent;
}

page-doctor > main.schedule > main > section > main:after {
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    width: 0px;
    top: 100%;
    right: 15.5%;
    border-top: solid 1vw #444;
    border-left: solid 1vw transparent;
    border-right: solid 1vw transparent;
}

page-doctor > main.schedule > main > section > main > div {
    font-size: 3vh;
    line-height: 100%;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}

page-doctor > main.schedule > main > section > main > div:last-child {
    margin-top: 2vh;
}

page-doctor > main.schedule > main > section > footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 35vh;
}

page-doctor > main.schedule > main > section > footer > iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

page-doctor > main.schedule > aside {
    position: absolute;
    height: 10vh;
    width: 10vh;
    top: 0px;
    z-index: 15;
    cursor: pointer;
    transition: background-color 0.5s;
}

page-doctor > main.schedule > aside:nth-of-type(1) {
    left: 0px;
    background-image: url("icon/black/prev.png");
}

page-doctor > main.schedule > aside:nth-of-type(2) {
    right: 0px;
    background-image: url("icon/black/next.png");
}

page-doctor > main.schedule > aside:hover {
    background-color: #FC3;
}

page-doctor > main.comment {
    position: absolute;
    top: 0px;
    left: 60vw;
    bottom: 0px;
    right: 0px;
    background-color: #BCF;
    z-index: 5;
}

page-doctor > main.comment > header {
    position: absolute;
    top: 0px;
    height: 10vh;
    left: 0px;
    right: 0px;
    background-image: url("icon/blue/comment.png");
}