* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Segoe UI", "Microsoft Yahei";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-weight: 100;
}

a {
    display: inline-block;
    height: 100%;
    z-index: 999;
    color: inherit;
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

input,
select,
textarea {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

select {
    margin-left: -4px;
    appearance: none;
    -webkit-appearance: none;
}

select > option {
    color: black;
}

textarea {
    resize: none;
}


/* ============================================================================================================= */

body > * {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 10vh;
    bottom: 5vh;
    transition: opacity 1s, transform 0.5s;
    transform: translateY(-100vh);
    opacity: 0;
}

body > *:target {
    transform: translateY(0px);
    opacity: 1;
}