body > nav {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../img/image/index.jpg");
}

body > nav > section {
    height: 10vh;
    width: 60vw;
    background-color: white;
    position: relative;
}

body > nav > section > input {
    padding-left: 4vh;
}

body > nav > section > footer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 10vh;
    background-color: #69F;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > nav > section > footer > svg {
    height: 50%;
    width: 50%;
    fill: white;
}


/* */

body > main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: auto;
}

body > main:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(to right, white, transparent 40%, white 60%);
}

body > main:nth-of-type(2n):after {
    background: linear-gradient(to left, white, transparent 40%, white 60%);
}

body > main > svg {
    position: absolute;
    height: 20vh;
    width: 20vh;
    top: 15vh;
    fill: white;
    left: 40%;
    margin-left: -10vh;
    opacity: 0.6;
}

body > main:nth-of-type(2n) > svg {
    left: auto;
    margin-left: 0px;
    right: 40%;
    margin-right: -10vh;
}

body > main > main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 25%;
    left: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

body > main:nth-of-type(2n) > main {
    right: 50%;
    left: auto;
}

body > main > main > header {
    color: inherit;
    font-size: 150%;
    line-height: 120%;
    display: block;
    width: 100%;
    padding-bottom: 2vh;
    border-bottom: solid 2px;
}

body > main > main > footer {
    color: #555;
    font-size: 90%;
    line-height: 120%;
    display: block;
    width: 100%;
}

body > main > main > footer > p {
    margin-top: 2vh;
}


/* */

body > main.search {
    background-image: url("../../img/image/pattern.1.png");
    background-color: var(--color-doctor);
    color: #36C;
}

body > main.database {
    background-image: url("../../img/image/pattern.2.png");
    background-color: var(--color-subject);
    color: #360;
}

body > main.language {
    background-image: url("../../img/image/pattern.4.png");
    background-color: var(--color-insurance);
    color: #600;
}