<template>
    <div class="bui-row materialize-color-blue">
        <nav class="bui-col bui-u">
            <header class="bui-breaker">Insurance</header>
            <input type="text" placeholder="搜索保险">
            <header class="bui-breaker">Distance</header>
            <div class="bui-row">
                <select>
                    <option>10 Miles</option>
                </select>
                <div class="bui-u">in</div>
                <input type="text" placeholder="zipcode">
            </div>
            <header class="bui-breaker">Star</header>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </label>
            <header class="bui-breaker">Gender</header>
            <select>
                <option>Any gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <header class="bui-breaker">Age</header>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <footer>71 and older</footer>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>61 to 70</footer>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>51 to 60</footer>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>41 to 50</footer>
            </label>
            <label class="bui-row-center">
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>40 and younger</footer>
            </label>
        </nav>
        <main class="bui-u bui-col">
            <header>233 doctors</header>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/1.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </div>
            </a>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/4.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Flynn DeGeneres, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>2.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>272 reviews</footer>
                    </footer>
                </div>
            </a>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/3.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Flynn DeGeneres, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>2.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>272 reviews</footer>
                    </footer>
                </div>
            </a>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/2.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Flynn DeGeneres, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>2.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>272 reviews</footer>
                    </footer>
                </div>
            </a>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/5.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Flynn DeGeneres, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>2.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>272 reviews</footer>
                    </footer>
                </div>
            </a>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/4.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Flynn DeGeneres, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>2.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>272 reviews</footer>
                    </footer>
                </div>
            </a>
            <a class="bui-row" href="/doctor">
                <img class="bui-u" src="resources/portrait/3.jpg">
                <div class="bui-u bui-col">
                    <header>Dr. Flynn DeGeneres, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>2.4 miles away</nav>
                    <footer class="bui-row-center">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>272 reviews</footer>
                    </footer>
                </div>
            </a>
            <footer class="bui-row">
                <nav class="bui-u">
                    <i class="material-icons">keyboard_arrow_left</i>
                </nav>
                <div class="bui-u">1</div>
                <div class="bui-u on">2</div>
                <div class="bui-u">3</div>
                <div class="bui-u">4</div>
                <div class="bui-u">5</div>
                <div class="bui-u">6</div>
                <div class="bui-u">7</div>
                <nav class="bui-u">
                    <i class="material-icons">keyboard_arrow_right</i>
                </nav>
            </footer>
        </main>
    </div>
</template>
<script type="text/javascript" src="page-search.js"></script>
<link rel="stylesheet" type="text/css" href="page-search.css">
