<template>
    <div class="bui-row materialize-color-blue">
        <nav class="bui-col">
            <header class="bui-breaker">Insurance</header>
            <input type="text" placeholder="搜索保险">
            <header class="bui-breaker">Distance</header>
            <div>
                <select>
                    <option>10 Miles</option>
                </select>
                <div class="bui-col">in</div>
                <input type="text" placeholder="zipcode">
            </div>
            <header class="bui-breaker">Star</header>
            <label>
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </label>
            <header class="bui-breaker">Gender</header>
            <select>
                <option>Any gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <header class="bui-breaker">Age</header>
            <label>
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <footer>71 and older</footer>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>61 to 70</footer>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>51 to 60</footer>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>41 to 50</footer>
            </label>
            <label>
                <input type="checkbox">
                <i class="material-icons on">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <i class="material-icons">date_range</i>
                <footer>40 and younger</footer>
            </label>
        </nav>
        <main class="bui-col">
            <header>233 doctors</header>
            <a href="/doctor">
                <img src="/resources/portrait/1.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/4.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.7 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>223 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/3.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/2.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/5.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/1.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/5.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/2.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/4.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <a href="/doctor">
                <img src="/resources/portrait/3.jpg">
                <main>
                    <header>Dr. Michael Deanda, MD</header>
                    <aside>Family Medicine</aside>
                    <nav>4.4 miles away</nav>
                    <footer>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <footer>17 reviews</footer>
                    </footer>
                </main>
            </a>
            <footer>
                <nav>
                    <i class="material-icons">keyboard_arrow_left</i>
                </nav>
                <div>1</div>
                <div class="on">2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <nav>
                    <i class="material-icons">keyboard_arrow_right</i>
                </nav>
            </footer>
        </main>
    </div>
</template>
<script type="text/javascript" src="page-search.js"></script>
<link rel="stylesheet" type="text/css" href="page-search.css">
