<template>
    <single-page-application-data data-neo>
        <table data-neo-table>
            <tbody>
                <tr>
                    <td data-neo-field>
                        <main>
                            <header>
                                <svg>
                                    <use xlink:href="/resources/icon/insurance.svg#insurance"></use>
                                </svg>
                            </header>
                            <input type="text" placeholder="搜索保险">
                        </main>
                    </td>
                    <td>a</td>
                </tr>
                <tr>
                    <td data-neo-field>
                        <main>
                            <header>
                                <svg>
                                    <use xlink:href="/resources/icon/distance.svg#distance"></use>
                                </svg>
                            </header>
                            <select>
                                <option>10 Miles</option>
                            </select>
                            <div>from</div>
                            <input type="text" placeholder="zipcode">
                        </main>
                    </td>
                </tr>
                <tr>
                    <td data-neo-field>
                    </td>
                </tr>
            </tbody>
        </table>
    </single-page-application-data>
</template>
<script type="text/javascript" src="page-search.js"></script>
<link rel="stylesheet" type="text/css" href="page-search.css">
