site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    overflow: hidden;
    color: #333;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

site-header > header > a {
    font-size: 4vmin;
    line-height: 100%;
    padding: 2vmin;
}

site-header > header > a > span {
    opacity: 0.5;
}

site-header > footer {
    padding: 2vmin;
}
