<template>
    <table>
        <tbody>
            <tr>
                <td class="email">
                    <header>
                        <svg>
                            <use xlink:href="img/icon/email.svg#email"></use>
                        </svg>
                    </header>
                    <input type="email" placeholder="您的邮箱" />
                </td>
            </tr>
            <tr>
                <td class="password">
                    <header>
                        <svg>
                            <use xlink:href="img/icon/hash.svg#hash"></use>
                        </svg>
                    </header>
                    <input type="password" placeholder="您的密码" />
                </td>
            </tr>
            <tr>
                <td class="password_repeat">
                    <header>
                        <svg>
                            <use xlink:href="img/icon/hash.svg#hash"></use>
                        </svg>
                    </header>
                    <input type="password" placeholder="重复您的密码" />
                </td>
            </tr>
            <tr>
                <td class="register">注册</td>
            </tr>
        </tbody>
    </table>
</template>