<template>
    <nav>
        <section>
            <input type="text" placeholder="关键字" />
        </section>
        <section>
            <select>
                <option value="4">至少四星</option>
                <option value="3">至少三星</option>
                <option value="2">至少二星</option>
                <option value="1">至少一星</option>
                <option value="0">任意星级</option>
            </select>
        </section>
        <section>
            <select>
                <option>科室</option>
            </select>
        </section>
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <td>姓名</td>
                    <td>星级</td>
                    <td>科室</td>
                    <td>距离</td>
                    <td>电话</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a>Dr. T'Soni Avalan</a>
                    </td>
                    <td>
                        <a>
                            <svg>
                                <use xlink:href="star.svg#star"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>
</template>
<link type="text/css" rel="stylesheet" href="page.search.css" />
<script type="text/javascript" src="page.search.js"></script>