page-search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("doctor.jpg");
}

page-search > nav {
    position: absolute;
    left: 10vw;
    top: 30vh;
    width: 20vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

page-search > nav > section {
    height: 6vh;
    background-color: #9CF;
    color: white;
}

page-search > nav > section:nth-child(2n) {
    background-color: #DEF;
    color: #333;
}

page-search > nav > section > * {
    padding-left: 2vh;
}

page-search > main {
    position: absolute;
    top: 20vh;
    left: 35vw;
    right: 10vw;
    background-color: white;
}