* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Segoe UI", "Microsoft Yahei";
}

html {
    height: 100%;
    width: 100%;
    transform: translateZ(0);
    /* This is 100% */
    font-size: 1vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-color: #EEE;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

body > table {
    table-layout: fixed;
    border-spacing: 0.5vw;
    border-collapse: separate;
}

body > table > tbody > tr > td {
    height: 5vw;
    width: 5vw;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.2s;
    position: relative;
}

body > table > tbody > tr > td:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

body > table > tbody > tr > td[rowspan="2"] {
    height: 10.5vw;
}

body > table > tbody > tr > td[rowspan="3"] {
    height: 16vw;
}

body > table > tbody > tr > td[colspan="2"] {
    width: 10.5vw;
}

body > table > tbody > tr > td[colspan="3"] {
    width: 16vw;
}

body > table > tbody > tr > td[colspan="4"] {
    width: 21.5vw;
}

/* Panel */

.roll {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
    animation-name: roll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes roll {
    0% {
        background-position: left center;
    }

    10% {
        background-position: right center;
    }

    50% {
        background-position: right center;
    }

    60% {
        background-position: left center;
    }

    100% {
        background-position: left center;
    }
}

/* Icon */

.icon {
    background-repeat: no-repeat;
    background-size: 2.4vw 2.4vw;
    background-position: 1.3vw center;
}

/* Input */

.input {
    outline: none;
}

.input > input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 100%;
    padding-left: 5vw;
}