#logo {
    box-shadow: none;
    background-color: transparent;
    text-align: center;
    font-size: 300%;
    color: #69F;
}

#user {
    background-image: url("../img/icon/white/user.png");
    background-color: #666;
}

#search {
    background-image: url("../img/icon/black/search.png");
    background-color: #EEE;
}

.portrait {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}