#logo {
    box-shadow: none;
    background-color: transparent;
    text-align: center;
    font-size: 400%;
    color: #69F;
    background-repeat: no-repeat;
    background-size: 2vw 2vw;
    background-position: 1.5vw 1.5vw, right 1.5vw bottom 1.5vw;
    background-image: url("../img/icon/blue/doctor.png"), url("../img/icon/blue/stethoscope.png");
}

#user {
    background-image: url("../img/icon/white/user.png");
    background-color: #666;
}

#search {
    background-image: url("../img/icon/black/search.png");
    background-color: #FC3;
}

.portrait {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    opacity: 0.5;
}