#logo {
    box-shadow: none;
    text-align: center;
    color: white;
    background-color: #69F;
    font-size: 400%;
    background-image: url("../img/icon/white/logo.png");
    background-position: center;
}

#logo > footer {
    display: block;
    position: absolute;
    height: 1vw;
    width: 1vw;
    animation-name: shine;
    animation-iteration-count: infinite;
    background-color: white;
    opacity: 0;
}

#logo > footer:nth-child(1) {
    top: 0vw;
    left: 0vw;
    animation-duration: 2.5s;
}

#logo > footer:nth-child(2) {
    top: 1vw;
    left: 0vw;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

#logo > footer:nth-child(3) {
    top: 0vw;
    left: 1vw;
    animation-delay: 0.75s;
    animation-duration: 5s;
}

#logo > footer:nth-child(4) {
    top: 2vw;
    left: 0vw;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
}

#logo > footer:nth-child(5) {
    top: 0vw;
    left: 2vw;
    animation-delay: 1s;
    animation-duration: 7.5s;
}

#logo > footer:nth-child(6) {
    top: 1vw;
    left: 1vw;
    animation-delay: 0s;
    animation-duration: 4s;
}

#logo > footer:nth-child(7) {
    bottom: 0vw;
    right: 0vw;
    animation-duration: 2.5s;
}

#logo > footer:nth-child(8) {
    bottom: 1vw;
    right: 0vw;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

#logo > footer:nth-child(9) {
    bottom: 0vw;
    right: 1vw;
    animation-delay: 0.75s;
    animation-duration: 5s;
}

#logo > footer:nth-child(10) {
    bottom: 2vw;
    right: 0vw;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
}

#logo > footer:nth-child(11) {
    bottom: 0vw;
    right: 2vw;
    animation-delay: 1s;
    animation-duration: 7.5s;
}

#logo > footer:nth-child(12) {
    bottom: 1vw;
    right: 1vw;
    animation-delay: 2s;
    animation-duration: 4s;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

#user {
    background-image: url("../img/icon/white/user.png");
    background-color: #69F;
    cursor: pointer;
}

#type[data-selected="any"] {
    background-image: url("../img/icon/blue/down.png");
}

#type[data-selected="doctor"] {
    background-image: url("../img/icon/white/doctor.png");
    background-color: #69F;
    color: white;
}

#type[data-selected="hospital"] {
    background-image: url("../img/icon/white/hospital.png");
    background-color: #F90;
    color: white;
}

#search {
    background-image: url("../img/icon/blue/search.png");
}

#star:not([data-selected="0"]) {
    background-image: url("../img/icon/white/star.png");
    background-color: #69F;
    color: white;
}

#star[data-selected="0"] {
    background-image: url("../img/icon/blue/star.png");
}

#insurance {
    background-image: url("../img/icon/blue/insurance.png");
}

#distance {
    background-image: url("../img/icon/blue/distance.png");
}

#item {
    background-image: url("../img/icon/blue/item.png");
}

.doctor {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.doctor:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 3vw;
    width: 3vw;
    background-color: rgba(128, 192, 255, 0.5);
    border-radius: 0 0.5vw 0 0.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-image: url("../img/icon/blue/doctor.png");
}

.doctor > footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 100%;
    line-height: 200%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    border-radius: 0 0 0.5vw 0.5vw;
}