#logo {
    box-shadow: none;
    text-align: center;
    color: white;
    background-color: #69F;
    font-size: 400%;
    background-image: url("../img/icon/white/logo.png");
    background-position: center;
}

#logo > footer {
    display: block;
    position: absolute;
    height: 1vw;
    width: 1vw;
    animation-name: shine;
    animation-iteration-count: infinite;
    background-color: white;
    opacity: 0;
}

#logo > footer:nth-child(1) {
    top: 0vw;
    left: 0vw;
    animation-duration: 2.5s;
}

#logo > footer:nth-child(2) {
    top: 1vw;
    left: 0vw;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

#logo > footer:nth-child(3) {
    top: 0vw;
    left: 1vw;
    animation-delay: 0.75s;
    animation-duration: 5s;
}

#logo > footer:nth-child(4) {
    top: 2vw;
    left: 0vw;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
}

#logo > footer:nth-child(5) {
    top: 0vw;
    left: 2vw;
    animation-delay: 1s;
    animation-duration: 7.5s;
}

#logo > footer:nth-child(6) {
    top: 1vw;
    left: 1vw;
    animation-delay: 0s;
    animation-duration: 4s;
}

#logo > footer:nth-child(7) {
    bottom: 0vw;
    right: 0vw;
    animation-duration: 2.5s;
}

#logo > footer:nth-child(8) {
    bottom: 1vw;
    right: 0vw;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

#logo > footer:nth-child(9) {
    bottom: 0vw;
    right: 1vw;
    animation-delay: 0.75s;
    animation-duration: 5s;
}

#logo > footer:nth-child(10) {
    bottom: 2vw;
    right: 0vw;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
}

#logo > footer:nth-child(11) {
    bottom: 0vw;
    right: 2vw;
    animation-delay: 1s;
    animation-duration: 7.5s;
}

#logo > footer:nth-child(12) {
    bottom: 1vw;
    right: 1vw;
    animation-delay: 2s;
    animation-duration: 4s;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

#user {
    background-image: url("../img/icon/white/user.png");
    background-color: #69F;
    cursor: pointer;
}

#type.any {
    background-image: url("../img/icon/blue/down.png");
}

#type.doctor {
    background-image: url("../img/icon/white/doctor.png");
    background-color: #69F;
    color: white;
}

#type.hospital {
    background-image: url("../img/icon/white/hospital.png");
    background-color: #F90;
    color: white;
}

#name {
    background-image: url("../img/icon/blue/name.png");
}

#name.highlight {
    background-color: #69F;
    color: white;
    background-image: url("../img/icon/white/name.png");
}

#star {
    background-image: url("../img/icon/blue/star.png");
}

#star.highlight {
    background-image: url("../img/icon/white/star.png");
    background-color: #69F;
    color: white;
}

#insurance {
    background-image: url("../img/icon/blue/insurance.png");
}

#insurance.highlight {
    background-color: #69F;
    color: white;
    background-image: url("../img/icon/white/insurance.png");
}

#distance {
    background-image: url("../img/icon/blue/distance.png");
}

#distance.highlight {
    background-image: url("../img/icon/white/distance.png");
    background-color: #69F;
    color: white;
}

#item {
    background-image: url("../img/icon/blue/item.png");
}

#item.highlight {
    background-image: url("../img/icon/white/item.png");
    background-color: #69F;
    color: white;
}


/* Table Body */

body > table > tbody > tr {
    transition: transform 0.2s;
    cursor: pointer;
}

body > table > tbody > tr > td:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body > table > tbody > tr > td:nth-child(3) {
    font-size: 150%;
    padding-left: 1vw;
}

body > table > tbody > tr > td:nth-child(4) > span:nth-child(1) {
    display: inline-block;
    height: 100%;
    width: 5vw;
    text-align: center;
    color: white;
    font-size: 150%;
    line-height: 5vw;
    border-radius: 0.5vw 0 0 0.5vw;
}

body > table > tbody > tr > td:nth-child(4) > span.full {
    display: inline-block;
    height: 1vw;
    width: 1vw;
    vertical-align: top;
    margin-top: 2vw;
}

body > table > tbody > tr > td:nth-child(4) > span.half {
    display: inline-block;
    height: 1vw;
    width: 0.5vw;
    vertical-align: top;
    margin-top: 2vw;
}

body > table > tbody > tr:hover {
    /* Hover Effect */
}

body > table > tbody > tr > td:nth-child(4) > span:last-child {
    border-radius: 0 0.3vw 0.3vw 0;
}

body > table > tbody > tr > td:nth-child(5) {
    text-align: center;
}

body > table > tbody > tr > td:nth-child(5) > span {
    display: inline-block;
    vertical-align: middle;
    height: 2vw;
    width: 2vw;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 0.5vw;
    transition: background-image 0.2s, width 0.2s, color 0.2s;
    color: transparent;
    text-align: center;
    line-height: 2vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 2px;
    margin-right: 2px;
}

body > table > tbody > tr > td:nth-child(5) > span.chiropractic {
    background-image: url("../img/icon/black/chiropractic.png");
}

body > table > tbody > tr > td:nth-child(5) > span.dentist {
    background-image: url("../img/icon/black/dentist.png");
}

body > table > tbody > tr > td:nth-child(5) > span.orthodontics {
    background-image: url("../img/icon/black/orthodontics.png");
}

body > table > tbody > tr > td:nth-child(5) > span:hover {
    width: 8vw;
    color: #333;
    background-image: url("../img/transparent/transparent.png");
}

body > table > tbody > tr > td:nth-child(6) {
    text-align: center;
}

body > table > tbody > tr > td:nth-child(6) > span {
    display: inline-block;
    vertical-align: middle;
    height: 2vw;
    width: 2vw;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border-radius: 0.5vw;
    transition: background-image 0.2s, width 0.2s, color 0.2s;
    color: transparent;
    text-align: center;
    line-height: 2vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 2px;
    margin-right: 2px;
}

body > table > tbody > tr > td:nth-child(6) > span:hover {
    width: 8vw;
    color: #333;
    background-image: url("../img/transparent/transparent.png");
}

body > table > tbody > tr > td:nth-child(7) {
    text-align: center;
    font-size: 200%;
}


/* Doctor Row */

.doctor > td {
    background-color: #DEF;
    color: #69F;
}

.doctor > td:nth-child(1) {
    background-color: #69F;
    background-image: url("../img/icon/white/doctor.png");
}

.doctor > td:nth-child(4) > span:first-child {
    background-color: #69F;
}

.doctor > td:nth-child(4) > span.full {
    background-color: #69F;
}

.doctor > td:nth-child(4) > span.half {
    background-color: #69F;
}

.doctor > td:nth-child(5) > span {}


/* Hospital Row */

.hospital > td {
    background-color: #FED;
    color: #F90;
}

.hospital > td:nth-child(1) {
    background-color: #F90;
    background-image: url("../img/icon/white/hospital.png");
}

.hospital > td:nth-child(4) > span:nth-child(1) {
    background-color: #F90;
}

.hospital > td:nth-child(4) > span.full {
    background-color: #F90;
}

.hospital > td:nth-child(4) > span.half {
    background-color: #F90;
}

.hospital > td:nth-child(5) > span {}