:root {
    --color-doctor: #36C;
    --color-hospital: #903;
    --color-insurance: #F90;
    --color-subject: #360;
    --color-service: #690;
    --color-user: #F69;
    --color-comment: #96C;
    --edge-spacing: 3vmin;
}

body > background-image {
    background-image: url('/resources/image/bg-1920-1080.jpeg');
}

body > background-image > main {
    background-color: rgba(255, 255, 255, 0.75);
}

body[data-type='doctor'] {
    --neo-td-theme-color: var(--color-doctor);
}

body[data-type='hospital'] {
    --neo-td-theme-color: var(--color-hospital);
}

body[data-type='service'] {
    --neo-td-theme-color: var(--color-service);
}
