body > #comment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

body > #comment > article {
    width: 40vw;
    background-color: var(--color-comment);
}

body > #comment > article > section:before {
    color: var(--color-comment);
}

body > #comment > article > section.content {
    height: 20vh;
}

body > #comment > article > footer {
    background-color: var(--color-comment);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    flex-wrap: wrap;
}

body > #comment > article > footer > svg {
    height: 4vw;
    width: 4vw;
    fill: white;
    margin: 2vh;
}

body > #comment > article > footer > span {
    display: block;
    font-size: 2vh;
    line-height: 100%;
    color: white;
}