body > #comment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

body > #comment > article {
    width: 40vw;
    background-color: var(--color-comment);
}

body > #comment > article > section:before {
    color: var(--color-comment);
}

body > #comment > article > section.content {
    height: 20vh;
}

body > #comment > article > footer {
    height: 8vh;
    background-color: var(--color-comment);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    background-image: url("../../img/icon/white/comment.png");
    padding-left: 10vh;
    color: white;
    transition: background-color 0.2s;
}

body > #comment > article > footer:hover {
    background-color: mediumpurple;
}