body > main.info > header {
    width: 93vw;
    line-height: 100%;
    font-size: 4vh;
    color: white;
    z-index: 9995;
    margin-top: calc(4vh + 1.5vw + 10px);
}

body > main.info > footer {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    background-image: url('../../img/image/doctor.jpg');
}

body > main.info > table > tbody > tr > td {
    color: var(--color-doctor);
    fill: var(--color-doctor);
}

body > main.info > table > tbody > tr > td > header {
    fill: inherit;
}

body > main.info > table > tbody > tr > td.portrait {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body > main.info > table > tbody > tr > td.name {
    font-size: 3vh;
    color: #36C;
}

body > main.info > table > tbody > tr > td.name > header {
    fill: #36C;
}

body > main.info > table > tbody > tr > td.description {
    fill: #666;
    color: #666;
}

body > main.info > table > tbody > tr > td.description > div {
    align-items: flex-start;
    padding-top: 1.25vh;
    font-size: 1.5vh;
}

body > main.info > table > tbody > tr > td.startyear > div {
    color: #999;
    font-size: 1.5vh;
}

body > main.info > table > tbody > tr > td.startyear > div > span {
    font-size: 3vh;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color-doctor);
}


/* =================================== */

body > main.comment {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../img/image/cloud.jpg");
    z-index: 5;
}

body > main.comment > table > tbody > tr > td {
    background-color: rgba(192, 128, 255, 0.25);
    outline: solid 5px rgba(192, 128, 255, 0.15);
    height: 30vw;
}

body > main.comment > table > tbody > tr > td[data-empty]:before {
    content: attr(data-empty-content);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    font-size: 3vh;
    color: var(--color-comment);
}

body > main.comment > table > tbody > tr > td.star {
    padding: 0px;
    color: var(--color-comment);
    fill: var(--color-comment);
}

body > main.comment > table > tbody > tr > td.star > div {}

body > main.comment > table > tbody > tr > td.star > div > span {
    font-size: 4vh;
    opacity: 0.5;
}

body > main.comment > table > tbody > tr > td.star > footer {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 75%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

body > main.comment > table > tbody > tr > td.star > footer > svg {
    height: 2vh;
    width: 2vh;
}

body > main.comment > table > tbody > tr > td.new {}


/* =================================== */

body > main.schedule {
    fill: white;
    color: white;
    z-index: 1;
}

body > main.schedule > nav {
    position: absolute;
    height: 12vh;
    width: 12vh;
    top: 50%;
    margin-top: -6vh;
    background-color: rgba(255, 64, 64, 0.5);
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > main.schedule > nav > svg {
    height: 6vh;
    width: 6vh;
    fill: white;
}

body > main.schedule > nav:first-of-type {
    left: 0px;
}

body > main.schedule > nav:last-of-type {
    right: 0px;
}

body > main.schedule > footer {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    background-image: url('../../img/image/hospital.jpg');
}

body > main.schedule > main > table > tbody > tr > td {
    background-color: rgba(0, 0, 0, 0.5);
    outline: solid 5px rgba(0, 0, 0, 0.25);
}

body > main.schedule > main > table > tbody > tr > td.portrait {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body > main.schedule > main > table > tbody > tr > td.name {
    font-size: 3vh;
}

body > main.schedule > main > table > tbody > tr > td.description > div {
    align-items: flex-start;
    padding-top: 1.25vh;
    font-size: 1.5vh;
}

body > main.schedule > main > header,
body > main.schedule > main > footer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

body > main.schedule > main > header > iframe {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}