body > main.info {
    background-color: #FEE;
    background-image: url("../../img/image/pattern.2.png");
}

body > main.info > table > thead > tr > td {
    color: var(--color-hospital);
    fill: var(--color-hospital);
}

body > main.info > table > tbody > tr > td {
    color: var(--color-hospital);
    fill: var(--color-hospital);
}

body > main.info > table > tbody > tr > td.portrait {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    text-align: center;
}

body > main.info > table > tbody > tr > td.portrait[style] {
    fill: transparent;
}

body > main.info > table > tbody > tr > td.portrait > svg {
    height: 20vmin;
    width: 20vmin;
}

body > main.info > table > tbody > tr > td.name {
    font-size: 125%;
    color: #900;
    fill: #900;
}

body > main.info > table > tbody > tr > td.description {
    fill: #666;
    color: #666;
}

body > main.info > table > tbody > tr > td.description > div {
    align-items: flex-start;
    padding-top: 1.5vmin;
    padding-right: 1.5vmin;
    font-size: 75%;
}

body > main.info > table > tbody > tr > td.service {
    min-height: 6vmin;
    max-height: none;
    height: auto;
    color: white;
    fill: white;
    vertical-align: top;
    padding: 0px;
    background-color: transparent;
    fill: var(--color-service);
}

body > main.info > table > tbody > tr > td.service > span:nth-of-type(2n) {
    opacity: 0.8;
}

body > main.info > table > tbody > tr > td.service > span {
    display: block;
    font-size: 75%;
    line-height: 6vmin;
    padding-left: 6vmin;
    background-color: white;
    color: var(--color-service);
    position: relative;
}

body > main.info > table > tbody > tr > td.service > span:after {
    content: attr(data-price);
    color: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 2vmin;
}