body > #index {}

body > #index > * {
    position: absolute;
}

body > #index {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 2vh;
    background-color: #EEE;
    color: white;
    vertical-align: top;
    text-align: left;
}

body > #index > main {
    position: absolute;
    top: 50%;
    margin-top: -5vh;
    left: 10vw;
    width: 80vw;
    height: 10vh;
    background-color: white;
    background-image: url("../../img/icon/black/search.png");
    color: #333;
    overflow: hidden;
}

body > #index > main > footer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 10vh;
    background-color: #69F;
    right: -10vh;
    transition: right 0.5s, background-color 0.5s;
    background-image: url("../../img/icon/white/search.png");
    cursor: pointer;
    z-index: 1000;
}

body > #index > main > footer.on {
    right: 0px;
}

body > #index > main > footer:hover {
    background-color: #36C;
}

body > #index > aside {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(to bottom, white, transparent);
}

body > #index > table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    opacity: 0.25;
}

body > #index > table > tbody > tr > td {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body > #index > table > tbody > tr > td:nth-child(2n) {
    background-color: #DDD;
}

body > #index > table > tbody > tr:nth-child(2n) > td:nth-child(2n+1) {
    background-color: #CCC;
}

body > #index > table > tbody > tr:nth-child(2n) > td:nth-child(2n) {
    background-color: #BBB;
}