body > #login {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > #login > article {
    width: 30vw;
    background-color: var(--color-doctor);
}

body > #login > article > section:before {
    color: var(--color-doctor);
}

body > #login > article > footer {
    text-align: center;
    background-color: var(--color-doctor);
    color: white;
    padding-bottom: 4vh;
    cursor: pointer;
    transition: background-color 0.5s;
}

body > #login > article > footer:hover {
    background-color: var(--color-insurance);
}