body > main.info {
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../img/image/pattern.2.png);
}

body > main.info > header {
    background-color: #999;
}

body > main.info > table > tbody > tr > td {
    fill: #666;
}

body > main.info > table > tbody > tr > td.email {
    font-size: 2.5vh;
    background-color: #666;
    fill: white;
    color: white;
}

body > main.info > table > tbody > tr > td.insurance {
    fill: var(--color-insurance);
    color: var(--color-insurance);
}

body > main.info > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    margin-bottom: 8vh;
}

body > main.info > nav > a {
    height: 5vw;
    width: 10vw;
    background: linear-gradient(to right, transparent, var(--color-insurance) 20%, var(--color-insurance) 80%, transparent);
    fill: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > main.info > nav > a > svg {
    height: 2.5vw;
    width: 2.5vw;
    margin-right: 0.5vw;
}

body > main.archive {
    min-height: 40vh;
    background-color: #DEF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../img/image/pattern.2.png);
    font-size: 6vh;
    color: white;
}