body > #profile {
    background-image: url("../../img/image/1.jpg");
}

body > #profile > main.info > main.email {
    padding-left: 10vh;
    color: black;
    background-image: url("../../img/icon/black/email.png");
    background-color: #EEE;
}

body > #profile > main.info > main.name {
    color: black;
    background-image: url("../../img/icon/black/name.png");
    background-color: white;
}

body > #profile > main.insurance > main.insurance {
    background-color: white;
    background-image: url("../../img/icon/black/insurance.png");
}

body > #profile > main.insurance > main.sub {
    background-color: #EEE;
    background-image: url("../../img/icon/black/insurance.png");
}