body > #register {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > #register > article > main {
    width: 30vw;
    background-color: var(--color-doctor);
    border-top: solid 1vh var(--color-doctor);
}

body > #register > article > main > section:before {
    color: var(--color-doctor);
}

body > #register > article > main > main {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-doctor);
}

body > #register > article > main > main > a {
    display: inline-block;
    position: relative;
    height: auto;
    text-decoration: underline;
}

body > #register > article > main > footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5vh;
    cursor: pointer;
    transition: background-color 0.5s;
}

body > #register > article > main > footer:hover {
    background-color: var(--color-insurance);
}