body > #search-doctor {}

body > #search-doctor > header,
body > #search-doctor > footer {
    display: block;
    flex: 1;
}

body > #search-doctor > main {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 150vh;
    overflow: scroll;
}

body > #search-doctor > main > div {
    background-color: #333;
    height: 25vh;
    width: 25vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
}

body > #search-doctor > main > div > a {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body > #search-doctor > main > div > header {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 4vh;
    color: white;
    text-align: right;
    padding-right: 1vh;
}