body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/resource/image/doctor.jpg");
}

body > header {
    position: absolute;
    left: 10vw;
    top: 30vh;
    height: 4vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body > header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5vmin;
}

body > header > div:nth-child(1) {
    background-color: #DEF;
    color: #333;
}

body > header > div:nth-child(2) {
    background-color: #8AF;
    color: #333;
}

body > header > div:nth-child(3) {
    background-color: #69F;
    color: #333;
}

body > header > div:nth-child(4) {
    background-color: #36C;
    color: white;
}

body > header > div:nth-child(5) {
    background-color: #039;
    color: white;
}

body > nav {
    position: absolute;
    left: 10vw;
    top: 34vh;
    width: 20vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body > nav > section {
    height: 6vmin;
    background-color: #9CF;
    color: white;
}

body > nav > section:nth-child(2n) {
    background-color: #DEF;
    color: #333;
}

body > nav > section > * {
    padding-left: 2vmin;
}

body > main {
    position: absolute;
    top: 20vmin;
    left: 35vw;
    right: 10vw;
}

body > main > * {
    width: 100%;
}

body > main > header {
    background-color: rgba(0, 92, 255, 0.5);
    color: white;
    height: 6vmin;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}

body > main > header > div {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    display: flex;
    flex-grow: 1;
    padding-left: 2vmin;
    width: 20%;
}

body > main > header > div:nth-child(2) {
    width: 15%;
}

body > main > header > div:nth-child(4) {
    width: 15%;
}

body > main > header > div:nth-child(5) {
    justify-content: flex-end;
    padding-right: 2vmin;
    width: 15%;
}

body > main > main > a {
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    background-color: white;
    height: 6vmin;
    z-index: 1;
    position: relative;
}

body > main > main > a:nth-child(2n) {
    background-color: #EEE;
}

body > main > main > a:hover {
    background-color: #36C;
    color: white;
    fill: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

body > main > main > a > div {
    flex-grow: 1;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 2vmin;
}

body > main > main > a > div:nth-child(2) {
    width: 15%;
}

body > main > main > a > div:nth-child(2) > svg {
    height: 2vmin;
    width: 2vmin;
}

body > main > main > a > div:nth-child(3) {
    flex-wrap: wrap;
}

body > main > main > a > div:nth-child(3) > span {
    font-size: 1.5vmin;
    margin-right: 1vmin;
}

body > main > main > a > div:nth-child(4) {
    width: 15%;
}

body > main > main > a > div:nth-child(5) {
    width: 15%;
    font-size: 1.5vmin;
    padding-left: 0px;
    padding-right: 2vmin;
    justify-content: flex-end;
}