body > #search > div {
    position: fixed;
    top: 8vh;
    margin-top: 1vw;
    width: 32vw;
    height: 8vh;
    left: 1vw;
}

body > #search > div > section {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.5s;
}

body > #search > div > section:hover {
    opacity: 0.5;
}

body > #search > div > section.on {
    opacity: 1;
    z-index: 5;
}

body > #search > div > section.doctor {
    left: 0px;
    background-color: var(--color-doctor);
}

body > #search > div > section.hospital {
    right: 0px;
    background-color: var(--color-hospital);
}


/* Nav */

body > #search > nav {
    position: fixed;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
    top: 16vh;
}

body > #search > nav.on {
    opacity: 1;
    z-index: 5;
}

body > #search > nav.doctor > main {
    background-color: var(--color-doctor);
    border-top: solid 1vh var(--color-doctor);
    border-bottom: solid 1vh var(--color-doctor);
}

body > #search > nav.doctor > main > section:before {
    color: var(--color-doctor);
}

body > #search > nav.hospital > main {
    background-color: var(--color-hospital);
    border-top: solid 1vh var(--color-hospital);
    border-bottom: solid 1vh var(--color-hospital);
}

body > #search > nav.hospital > main > section:before {
    color: var(--color-hospital);
}


/* Aside */

body > #search > aside {
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
}

body > #search > aside.on {
    opacity: 1;
    z-index: 5;
}

body > #search > aside.doctor {
    border-top: solid 1vh var(--color-doctor);
}

body > #search > aside.hospital {
    border-top: solid 1vh var(--color-hospital);
}

body > #search > aside > main {
    background-color: white;
    height: 25vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 25vh 25vh;
    background-position: left center;
    cursor: pointer;
    position: relative;
}

body > #search > aside > main > a {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body > #search > aside > main > header {
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 21vh;
    width: 21vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url("../../img/icon/white/doctor.png");
    background-color: grey;
}

body > #search > aside > main > section {
    display: block;
    position: relative;
    margin-left: 25vh;
    margin-bottom: 1vh;
    margin-right: 1vh;
}

body > #search > aside > main > section.name {
    font-size: 3vh;
    line-height: 100%;
    color: black;
    padding-top: 2vh;
}

body > #search > aside > main > section.star {
    height: 2vh;
}

body > #search > aside > main > section.star > span {
    display: inline-block;
    height: 2vh;
    width: 2vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("../../img/icon/orange/star.png");
}

body > #search > aside > main > section.star > span.empty {
    background-image: url("../../img/icon/orange/star.empty.png");
}

body > #search > aside > main > section.items > span {
    display: inline-block;
    margin-right: 1vh;
}

body > #search > aside > main > section.insurances > span {
    display: inline-block;
    margin-right: 1vh;
}

body > #search > aside > main > section.services {
    border-top: dashed 1px var(--color-item);
    border-bottom: dashed 1px var(--color-item);
    padding: 1vh;
}

body > #search > aside > main > section.services > span {
    display: inline-block;
    margin-right: 1vh;
}