body > aside {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    z-index: 55;
    background-color: white;
}

body > aside > div {
    flex-grow: 1;
    width: 50%;
    opacity: 0.25;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 2.4vh;
    cursor: pointer;
    transition: opacity 0.5s;
    z-index: 55;
}

body > aside > div > svg {
    height: 5vh;
    width: 5vh;
    fill: white;
    margin-right: 1vw;
}

body > aside > div.doctor {
    background-color: var(--color-doctor);
}

body > aside > div.doctor:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: solid 20px var(--color-doctor);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 0.5s;
}

body > aside > div.hospital {
    background-color: var(--color-hospital);
}

body > aside > div.hospital:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: solid 20px var(--color-hospital);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    margin-left: -20px;
    opacity: 0;
}

body > aside > div:hover {
    opacity: 0.5;
}

body > aside > div.on {
    opacity: 1;
}

body > aside > div.on:after {
    opacity: 1;
}


/* */

body > nav.mist {
    display: none;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

body > nav.on {
    display: flex;
}

body > nav.mist > footer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    transform: scale(1.05);
}

body > nav.doctor {
    background-color: #DEF;
}

body > nav.doctor > footer {
    background-image: url('../../img/image/doctor.jpg');
}

body > nav.doctor > table > tbody > tr > td {
    fill: var(--color-doctor);
    color: #666;
}

body > nav.doctor > table > tbody > tr > td.subject {
    fill: var(--color-subject);
    color: var(--color-subject);
}

body > nav.doctor > table > tbody > tr > td.service {
    fill: var(--color-service);
    color: var(--color-service);
}

body > nav.doctor > table > tbody > tr > td.insurance {
    fill: var(--color-insurance);
    color: var(--color-insurance);
}

body > nav.hospital {
    background-color: #FEE;
}

body > nav.hospital > footer {
    background-image: url('../../img/image/hospital.jpg');
}

body > nav.hospital > table > tbody > tr > td > header {
    fill: var(--color-hospital);
}

body > nav.hospital > table > tbody > tr > td.service > header {
    fill: var(--color-service);
}


/* */

body > main {
    background-color: white;
    display: none;
    z-index: 9;
}

body > main.on {
    display: flex;
}

body > main:not(.on) {
    display: none;
}

body > main.mist > table > tbody > tr > td {
    padding: 0px;
    height: 15vh;
    width: 93vw;
}

body > main.mist > table > tbody > tr > td > a {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}

body > main.mist > table > tbody > tr > td > a > nav {
    width: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
    position: relative;
}

body > main.mist > table > tbody > tr > td > a > nav:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    border-right: solid 10px white;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    margin-top: -10px;
}

body > main.mist > table > tbody > tr > td > a > nav[style] {
    fill: transparent;
}

body > main.mist > table > tbody > tr > td > a > nav > svg {
    height: 8vh;
    width: 8vh;
}


/* */

body > main.doctor > table > tbody > tr > td > a > nav {
    background-color: var(--color-doctor);
}

body > main.doctor > table > tbody > tr > td > a > header {
    width: 25vw;
    padding: 2vh;
    position: relative;
}

body > main.doctor > table > tbody > tr > td > a > header > header {
    font-size: 4vh;
    line-height: 100%;
    white-space: nowrap;
}

body > main.doctor > table > tbody > tr > td > a > header > nav {
    font-size: 2vh;
    line-height: 100%;
    margin-left: 1px;
}

body > main.doctor > table > tbody > tr > td > a > header > footer {
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    height: 3vh;
    font-size: 3vh;
    line-height: 100%;
}

body > main.doctor > table > tbody > tr > td > a > header > footer > svg {
    height: 1em;
    width: 1em;
    fill: gold;
}

body > main.doctor > table > tbody > tr > td > a > header > section {
    position: absolute;
    right: 2vh;
    font-size: 1.5vh;
    color: var(--color-doctor);
    fill: var(--color-doctor);
    line-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

body > main.doctor > table > tbody > tr > td > a > header > section > svg {
    margin-left: 1vh;
    height: 1em;
    width: 1em;
}

body > main.doctor > table > tbody > tr > td > a > header > section.email {
    bottom: 2vh;
}

body > main.doctor > table > tbody > tr > td > a > header > section.phone {
    bottom: 4vh;
}

body > main.doctor > table > tbody > tr > td > a > footer {
    width: 10px;
    flex-grow: 1;
    background-color: #DEF;
    position: relative;
    padding: 2vh;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

body > main.doctor > table > tbody > tr > td > a > footer:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    border-left: solid 10px white;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    margin-top: -10px;
}

body > main.doctor > table > tbody > tr > td > a > footer > section {
    font-size: 1.5vh;
    line-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

body > main.doctor > table > tbody > tr > td > a > footer > section > span {
    margin-right: 1vh;
}

body > main.doctor > table > tbody > tr > td > a > footer > section > span:after {
    content: ",";
}

body > main.doctor > table > tbody > tr > td > a > footer > section > span:last-of-type:after {
    content: "";
}

body > main.doctor > table > tbody > tr > td > a > footer > section > svg {
    height: 3vh;
    width: 3vh;
    margin-right: 1vh;
}

body > main.doctor > table > tbody > tr > td > a > footer > section.subject {
    color: var(--color-subject);
    fill: var(--color-subject);
}

body > main.doctor > table > tbody > tr > td > a > footer > section.service {
    color: var(--color-service);
    fill: var(--color-service);
}

body > main.doctor > table > tbody > tr > td > a > footer > section.insurance {
    color: var(--color-insurance);
    fill: var(--color-insurance);
}


/* */

body > main.hospital > table > tbody > tr > td > a > nav {
    background-color: var(--color-hospital);
}

body > main.hospital > table > tbody > tr > td > a > header {
    width: 25vw;
    padding: 2vh;
    position: relative;
}