body > #search-doctor > nav {
    position: fixed;
    top: 10vh;
    left: 5vh;
    right: 60vw;
    margin-right: 10vh;
    background-color: white;
    border-top: solid 1vh var(--color-doctor);
    border-bottom: solid 1vh var(--color-doctor);
}

body > #search-doctor > nav input {
    text-align: right;
}

body > #search-doctor > main {
    position: absolute;
    top: 10vh;
    right: 5vh;
    margin-bottom: 10vh;
    width: 60vw;
}

body > #search-doctor > main > header {
    background-color: var(--color-doctor);
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    align-items: center;
}

body > #search-doctor > main > div {
    background-color: white;
    height: 25vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 25vh 25vh;
    background-position: left center;
    cursor: pointer;
    position: relative;
    margin-bottom: 1vh;
}

body > #search-doctor > main > div > a {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body > #search-doctor > main > div > header {
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 21vh;
    width: 21vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url("../../img/portrait/doctor/0.png");
}

body > #search-doctor > main > div > section {
    display: block;
    position: relative;
    margin-left: 25vh;
    margin-bottom: 1vh;
    margin-right: 1vh;
}

body > #search-doctor > main > div > section.name {
    font-size: 3vh;
    line-height: 100%;
    color: black;
    padding-top: 2vh;
}

body > #search-doctor > main > div > section.star {
    height: 2vh;
}

body > #search-doctor > main > div > section.star > span {
    display: inline-block;
    height: 2vh;
    width: 2vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("../../img/icon/orange/star.png");
}

body > #search-doctor > main > div > section.star > span.empty {
    background-image: url("../../img/icon/orange/star.empty.png");
}

body > #search-doctor > main > div > section.items > span {
    display: inline-block;
    margin-right: 1vh;
}

body > #search-doctor > main > div > section.insurances > span {
    display: inline-block;
    margin-right: 1vh;
}

body > #search-doctor > main > div > section.services {
    border-top: dashed 1px var(--color-item);
    border-bottom: dashed 1px var(--color-item);
    padding: 1vh;
}

body > #search-doctor > main > div > section.services > span {
    display: inline-block;
    margin-right: 1vh;
}