page-index {
    --neo-td-height: 8vh;
    --neo-td-width: auto;
}

page-index > main[data-neo] > table[data-neo-table] {
    background-color: rgba(0, 0, 0, 0.05);
    outline: solid 80px rgba(0, 0, 0, 0.05);
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 30vw;
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-left: var(--neo-td-spacing);
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section {
    background-color: white;
    height: 4vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--neo-td-spacing);
    font-size: 75%;
    opacity: 0.5;
    transition: opacity 0.2s;
    cursor: pointer;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section:hover {
    opacity: 1;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section[data-type='doctor'] {
    color: var(--color-doctor);
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section[data-type='hospital'] {
    color: var(--color-hospital);
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section[data-type='service'] {
    color: var(--color-service);
}

body[data-type='doctor'] page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section[data-type='doctor'] {
    opacity: 1;
}

body[data-type='hospital'] page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section[data-type='hospital'] {
    opacity: 1;
}

body[data-type='service'] page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > nav > section[data-type='service'] {
    opacity: 1;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > footer {
    position: absolute;
    top: 100%;
    left: calc(var(--neo-td-height) / 4);
    margin-top: calc(var(--neo-td-spacing) * 2);
    color: #999;
    font-size: 75%;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > input {
    padding-left: calc(var(--neo-td-height) / 4);
    padding-right: calc(var(--neo-td-height) / 4);
    width: 40vw;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td > select {
    padding-left: calc(var(--neo-td-height) / 4);
    padding-right: calc(var(--neo-td-height) / 4);
    border-top: solid 4px transparent;
    border-bottom: solid 4px var(--neo-td-theme-color);
    direction: rtl;
    color: var(--neo-td-theme-color);
    transition: color 0.2s, border-color 0.2s;
    width: 8vw;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td.search {
    --neo-td-width: var(--neo-td-height);
    background-color: var(--neo-td-theme-color);
    transition: background-color 0.2s;
}

page-index > main[data-neo] > table[data-neo-table] > tbody > tr > td.search > a > svg {
    fill: white;
    height: calc(var(--neo-td-height) / 2);
    width: calc(var(--neo-td-height) / 2);
}
