<template>
    <header class="bui-row">
        <video src="/resources/video/1.mov" autoplay loop muted preload></video>
        <main class="bui-container">
            <input type="text">
        </main>
    </header>
    <main class="bui-container">
        <header class="bui-row">
            <span class="bui-col">这里是一些常见的病例</span>
        </header>
        <div class="bui-breaker"></div>
        <div class="bui-row">
            <a href="/list" class="bui-col">心脏病</a>
            <a href="/list" class="bui-col">脊椎</a>
            <a href="/list" class="bui-col">关节炎</a>
            <a href="/list" class="bui-col">近视</a>
        </div>
        <div class="bui-row">
            <a href="/list" class="bui-col">肠胃</a>
            <a href="/list" class="bui-col">神经科</a>
            <a href="/list" class="bui-col">消化内科</a>
            <a href="/list" class="bui-col">手术</a>
        </div>
        <div class="bui-row">
            <a href="/list" class="bui-col">肠胃</a>
            <a href="/list" class="bui-col">神经科</a>
            <a href="/list" class="bui-col">消化内科</a>
            <a href="/list" class="bui-col">手术</a>
        </div>
    </main>
    <footer class="bui-container">
        <header class="bui-row">
            <div class="bui-col">currently we have</div>
        </header>
        <div class="bui-row">
            <div class="bui-col">
                <main>2,274</main>
                <div class="bui-breaker"></div>
                <footer>Doctors</footer>
            </div>
            <div class="bui-col">
                <main>193</main>
                <div class="bui-breaker"></div>
                <footer>Hospitals</footer>
            </div>
            <div class="bui-col">
                <main>665</main>
                <div class="bui-breaker"></div>
                <footer>Symptons</footer>
            </div>
        </div>
    </footer>
</template>
<script type="text/javascript" src="page-index.js"></script>
<link rel="stylesheet" type="text/css" href="page-index.css">
