<template>
    <main data-neo>
        <table data-neo-table>
            <tbody>
                <tr>
                    <td>
                        <input placeholder="输入您想查找的信息" type="text" autofocus>
                        <nav>
                            <section data-type="doctor">医生</section>
                            <section data-type="hospital">医院</section>
                            <section data-type="service">医疗服务</section>
                        </nav>
                        <footer>请输入您所要找的医生信息，如医生姓名，科室，地址，邮编…</footer>
                    </td>
                    <td>
                        <select>
                            <option value="doctor">找医生</option>
                            <option value="hospital">找医院</option>
                            <option value="service">找医疗服务</option>
                        </select>
                    </td>
                    <td class="search" data-neo-button>
                        <a href="/search">
                            <svg>
                                <use xlink:href="/resources/icon/search.svg#search"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</template>
<script type="text/javascript" src="page-index.js"></script>
<link rel="stylesheet" type="text/css" href="page-index.css">
