<template>
    <header class="bui-row materialize-color-blue">
        <video src="/resources/video/1.mov" autoplay loop muted preload></video>
        <main class="bui-container">
            <input type="text">
            <a href="/search">
                <i class="material-icons">search</i>
            </a>
        </main>
    </header>
    <main class="bui-container materialize-color-blue">
        <header class="bui-col bui-breaker">这里是一些常见的病例</header>
        <div class="bui-row">
            <a href="/search" class="bui-col">心脏病</a>
            <a href="/search" class="bui-col">脊椎</a>
            <a href="/search" class="bui-col">关节炎</a>
            <a href="/search" class="bui-col">近视</a>
        </div>
        <div class="bui-row">
            <a href="/search" class="bui-col">肠胃</a>
            <a href="/search" class="bui-col">神经科</a>
            <a href="/search" class="bui-col">消化内科</a>
            <a href="/search" class="bui-col">手术</a>
        </div>
        <div class="bui-row">
            <a href="/search" class="bui-col">肠胃</a>
            <a href="/search" class="bui-col">神经科</a>
            <a href="/search" class="bui-col">消化内科</a>
            <a href="/search" class="bui-col">手术</a>
        </div>
    </main>
    <footer class="bui-container">
        <header class="bui-row">
            <div class="bui-col">currently we have</div>
        </header>
        <div class="bui-row">
            <div class="bui-col">
                <main class="bui-breaker">2,274</main>
                <footer>Doctors</footer>
            </div>
            <div class="bui-col">
                <main class="bui-breaker">193</main>
                <footer>Hospitals</footer>
            </div>
            <div class="bui-col">
                <main class="bui-breaker">665</main>
                <footer>Symptons</footer>
            </div>
        </div>
    </footer>
</template>
<script type="text/javascript" src="page-index.js"></script>
<link rel="stylesheet" type="text/css" href="page-index.css">
