page-index {
    display: block;
}

page-index > header {
    height: 50vh;
    overflow: hidden;
    position: relative;
}

page-index > header > video {
    position: relative;
    display: block;
    min-width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 5;
}

page-index > header > main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

page-index > header > main > input {
    height: 60px;
    width: 50vw;
    background-color: white;
    padding-left: 20px;
}

page-index > header > main > a {
    background-color: var(--materialize-color-darken-4);
    color: white;
    height: 60px;
    width: 60px;
}

page-index > header > main > a > i.material-icons {
    font-size: 150%;
}

page-index > main {
    background: linear-gradient(to bottom, var(--materialize-color-lighten-4), white);
}

page-index > main > div > a {
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin: 5px;
    width: 25%;
    height: 8vh;
}

page-index > main > div > a:hover {
    background-color: var(--materialize-color-darken-4);
    color: white;
}

page-index > footer {
    background-color: white;
}

page-index > footer > div {
    height: 30vh;
    text-align: center;
}

page-index > footer > div > div.bui-col {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

page-index > footer > div > div > * {
    width: 100%;
}

page-index > footer > div > div > main {
    font-size: 4rem;
}
