page-search > aside {
    position: absolute;
    top: 0px;
    height: 10vh;
    left: 0px;
    right: 0px;
    background-color: #DEF;
}

page-search > aside > div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 25vw;
    padding-left: 10vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 5vh 5vh;
    background-position: 2.5vh 2.5vh;
    transition: background-color 0.5s, color 0.5s, background-image 0.5s;
    color: #69F;
}

page-search > aside > div:nth-child(2n) {
    background-color: #CDF;
}

page-search > aside > div.on {
    color: white;
    background-color: #69F;
}

page-search > aside > div.keyword {
    left: 0px;
    background-image: url("icon/name.blue.png");
}

page-search > aside > div.keyword.on {
    background-image: url("icon/name.white.png");
}

page-search > aside > div.star {
    left: 25vw;
    background-image: url("icon/star.blue.png");
}

page-search > aside > div.star.on {
    background-image: url("icon/star.white.png");
}

page-search > aside > div.item {
    left: 50vw;
    background-image: url("icon/item.blue.png");
}

page-search > aside > div.distance {
    left: 75vw;
    background-image: url("icon/distance.blue.png");
}

page-search > main {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 75vh;
    vertical-align: top;
}

page-search > main > table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    vertical-align: top;
}

page-search > main > table > tbody > tr > td {
    height: 25vh;
    width: 12.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

page-search > main > table > tbody > tr > td.button {
    background-color: #36C;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

page-search > main > table > tbody > tr > td.button:hover {
    background-color: #69F;
}

page-search > main > table > tbody > tr > td.button.prev {
    background-image: url("icon/prev.png");
}

page-search > main > table > tbody > tr > td.button.next {
    background-image: url("icon/next.png");
}