page-search > single-page-application-data {
    background-color: rgba(255, 255, 255, 0.9);
}

page-search > single-page-application-data > header {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    transition: top 0.5s, bottom 0.5s;
}

page-search > single-page-application-data > header.on {
    top: 25%;
    bottom: 25%;
}

page-search > single-page-application-data > header > section {
    flex-grow: 0;
    width: 20%;
    position: relative;
}

page-search > single-page-application-data > header > section:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}

body[data-type='doctor'] page-search > single-page-application-data > header > section.doctor,
body[data-type='hospital'] page-search > single-page-application-data > header > section.hospital,
body[data-type='service'] page-search > single-page-application-data > header > section.service {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
