<template>
    <a href="/" class="bui-col bui-ng materialize-color-red">
        <i class="material-icons">local_hospital</i>
        <header>北美找医网</header>
    </a>
    <span class="bui-col"></span>
    <a href="/search" class="bui-col bui-ng">搜索</a>
    <a class="bui-col bui-ng">用户协议</a>
    <a class="bui-col bui-ng">关于我们</a>
    <a href="/login" class="bui-col bui-ng">
        <span>登录</span>
        <i class="material-icons">person</i>
    </a>
</template>
<script type="text/javascript" src="site-header.js"></script>
<link rel="stylesheet" type="text/css" href="site-header.css">
