<template>
    <single-page-application-data data-neo data-type="doctor">
        <table data-neo-table>
            <tbody>
                <tr>
                    <td>
                        <main>
                            <header></header>
                            <footer>
                                <header>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                </header>
                                <footer>Jeong Soo Kung</footer>
                            </footer>
                        </main>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </single-page-application-data>
</template>
<script type="text/javascript" src="page-search.js"></script>
<link rel="stylesheet" type="text/css" href="page-search.css">
