<template>
    <single-page-application-data data-neo data-type="doctor">
        <nav>
            <div>"Otolaryngology"</div>
            <div>less than 200 miles</div>
            <div>use my insurance</div>
        </nav>
        <table data-neo-table>
            <tbody>
                <tr>
                    <td>
                        <a href="/doctor">
                            <main>
                                <header>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                </header>
                                <div>Scholer Janimier Garbohozer</div>
                                <span>Otolaryngologist</span>
                            </main>
                        </a>
                    </td>
                    <td>
                        <a href="/doctor">
                            <main>
                                <header>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star-empty.svg#star-empty"></use>
                                    </svg>
                                </header>
                                <div>Eric Zimmererman</div>
                                <span>Otolaryngologist</span>
                            </main>
                        </a>
                    </td>
                    <td>
                        <a href="/doctor">
                            <main>
                                <header>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star-empty.svg#star-empty"></use>
                                    </svg>
                                </header>
                                <div>Catelina Josephen Melissa-Fullerton</div>
                                <span>Chiropatric</span>
                            </main>
                        </a>
                    </td>
                    <td>
                        <a href="/doctor">
                            <main>
                                <header>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star-empty.svg#star-empty"></use>
                                    </svg>
                                </header>
                                <div>Ben Carson</div>
                                <span>Surgerist</span>
                            </main>
                        </a>
                    </td>
                    <td>
                        <a href="/doctor">
                            <main>
                                <header>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star.svg#star"></use>
                                    </svg>
                                    <svg>
                                        <use xlink:href="/resource/icon/star-empty.svg#star-empty"></use>
                                    </svg>
                                </header>
                                <div>JingAn Chen</div>
                                <span>Surgerist</span>
                            </main>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </single-page-application-data>
</template>
<script type="text/javascript" src="page-search.js"></script>
<link rel="stylesheet" type="text/css" href="page-search.css">
