page-index {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("index.2.jpg");
}

page-index > header {
    position: absolute;
    left: 10vw;
    top: 30vh;
    height: 4vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

page-index > header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5vmin;
}

page-index > header > div:nth-child(1) {
    background-color: #DEF;
    color: #333;
}

page-index > header > div:nth-child(2) {
    background-color: #8AF;
    color: #333;
}

page-index > header > div:nth-child(3) {
    background-color: #69F;
    color: #333;
}

page-index > header > div:nth-child(4) {
    background-color: #36C;
    color: white;
}

page-index > header > div:nth-child(5) {
    background-color: #039;
    color: white;
}

page-index > main {
    position: absolute;
    left: 10vw;
    top: 34vh;
    height: 6vh;
    width: 40vw;
    background-color: #9CF;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

page-index > main > input {
    padding-left: 2vh;
}

page-index > main > div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-right: 2vh;
    cursor: pointer;
}

page-index > footer {
    position: absolute;
    top: 40vh;
    left: 10vw;
    height: 6vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

page-index > footer > header,
page-index > footer > footer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 50%;
}

page-index > footer > header {
    padding-left: 2vh;
    justify-content: flex-start;
}

page-index > footer > footer {
    padding-right: 2vh;
    justify-content: flex-end;
}