<template>
    <header>
        <a href="index.html">
            <nav>
                <svg>
                    <use xlink:href="img/icon/usa.svg#usa"></use>
                </svg>
            </nav>
            <header>
                <span>北美</span><span>找医网</span>
            </header>
            <footer>通过用户们的评价找到适合您的医生</footer>
        </a>
    </header>
    <nav>
        <a href="#l=principle">条款</a><a href="#l=search">搜索</a><a href="#l=about">关于我们</a><a href="#l=register">注册</a>
    </nav>
    <footer>
        <div>登陆</div>
        <svg>
            <use xlink:href="img/icon/tick.svg#tick"></use>
        </svg>
    </footer>
</template>