<template>
    <div>
        <header>
            <input type="email" placeholder="Subscribe to the email" />
        </header>
        <div class="facebook">
            <svg>
                <use xlink:href="img/icon/facebook.svg#facebook"></use>
            </svg>
        </div>
        <div class="twitter">
            <svg>
                <use xlink:href="img/icon/twitter.svg#twitter"></use>
            </svg>
        </div>
        <div class="youtube">
            <svg>
                <use xlink:href="img/icon/youtube.svg#youtube"></use>
            </svg>
        </div>
    </div>
    <div>
        <header>Sustainable Energy Utility</header>
        <a>Financial Report</a>
        <a>Oversight Board</a>
        <a>Vision, Mission Statement and Values</a>
        <a>Freedom of Information Act</a>
        <a>Agendas and Minutes</a>
        <a>By-Laws and Official Documents</a>
        <a>Reports and Contracts</a>
    </div>
    <div>
        <header>Programs</header>
        <a>Green for Green Program</a>
        <a>Home Performance with Energy Star</a>
        <a>Energize Delaware Revolving Loan Fund</a>
        <a>Solar Thermal and Geo Thermal Incentive Grant Program</a>
        <a>Weatherization Assistence Program</a>
    </div>
    <div>
        <header>Information</header>
        <a>About Us</a>
        <a>Legal Documents</a>
        <a>New Letter</a>
        <a>Careers</a>
    </div>
    <footer>2016 Copyright uszhaoyi.com</footer>
</template>