<template>
    <header>
        <a href="index.html">
            <nav>
                <svg>
                    <use xlink:href="img/icon/usa.svg#usa"></use>
                </svg>
            </nav>
            <header>
                <span>北美</span><span>找医网</span>
            </header>
            <footer>通过用户们的评价找到适合您的医生</footer>
        </a>
    </header>
    <footer>
        <a href="#l=principle">条款</a><a href="#l=search">搜索</a><a href="#l=about">关于我们</a><a href="register.html">注册</a>
        <nav class="login"><a href="login.html">登陆</a></nav>
        <nav class="profile">
            <a href="profile.html">
                <svg>
                    <use xlink:href="img/icon/profile.svg#profile"></use>
                </svg>
            </a>
        </nav>
    </footer>
</template>